<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandbox.calvin_li.quest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/quest_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/quest_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".NotificationActionReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="notification_action0" />
                <action android:name="notification_action1" />
                <action android:name="notification_action2" />
                <action android:name="notification_action3" />
                <action android:name="notification_action4" />
                <action android:name="notification_action5" />
                <action android:name="notification_action6" />
                <action android:name="notification_action7" />
                <action android:name="notification_action8" />
                <action android:name="notification_action9" />
                <action android:name="notification_action10" />
                <action android:name="notification_action11" />
                <action android:name="notification_action12" />
                <action android:name="notification_action13" />
                <action android:name="notification_action14" />
                <action android:name="notification_action15" />
                <action android:name="notification_action16" />
                <action android:name="notification_action17" />
                <action android:name="notification_action18" />
                <action android:name="notification_action19" />
                <action android:name="notification_action20" />
                <action android:name="notification_action21" />
                <action android:name="notification_action22" />
                <action android:name="notification_action23" />
                <action android:name="notification_action24" />
                <action android:name="notification_action25" />
                <action android:name="notification_action26" />
                <action android:name="notification_action27" />
                <action android:name="notification_action28" />
                <action android:name="notification_action29" />
                <action android:name="notification_action30" />
                <action android:name="notification_action31" />
                <action android:name="notification_action32" />
                <action android:name="notification_action33" />
                <action android:name="notification_action34" />
                <action android:name="notification_action35" />
                <action android:name="notification_action36" />
                <action android:name="notification_action37" />
                <action android:name="notification_action38" />
                <action android:name="notification_action39" />
                <action android:name="notification_action40" />
                <action android:name="notification_action41" />
                <action android:name="notification_action42" />
                <action android:name="notification_action43" />
                <action android:name="notification_action44" />
                <action android:name="notification_action45" />
                <action android:name="notification_action46" />
                <action android:name="notification_action47" />
                <action android:name="notification_action48" />
                <action android:name="notification_action49" />
                <action android:name="notification_action50" />
                <action android:name="notification_action51" />
                <action android:name="notification_action52" />
                <action android:name="notification_action53" />
                <action android:name="notification_action54" />
                <action android:name="notification_action55" />
                <action android:name="notification_action56" />
                <action android:name="notification_action57" />
                <action android:name="notification_action58" />
                <action android:name="notification_action59" />
                <action android:name="notification_action60" />
                <action android:name="notification_action61" />
                <action android:name="notification_action62" />
                <action android:name="notification_action63" />
                <action android:name="notification_action64" />
                <action android:name="notification_action65" />
                <action android:name="notification_action66" />
                <action android:name="notification_action67" />
                <action android:name="notification_action68" />
                <action android:name="notification_action69" />
                <action android:name="notification_action70" />
                <action android:name="notification_action71" />
                <action android:name="notification_action72" />
                <action android:name="notification_action73" />
                <action android:name="notification_action74" />
                <action android:name="notification_action75" />
                <action android:name="notification_action76" />
                <action android:name="notification_action77" />
                <action android:name="notification_action78" />
                <action android:name="notification_action79" />
                <action android:name="notification_action80" />
                <action android:name="notification_action81" />
                <action android:name="notification_action82" />
                <action android:name="notification_action83" />
                <action android:name="notification_action84" />
                <action android:name="notification_action85" />
                <action android:name="notification_action86" />
                <action android:name="notification_action87" />
                <action android:name="notification_action88" />
                <action android:name="notification_action89" />
                <action android:name="notification_action90" />
                <action android:name="notification_action91" />
                <action android:name="notification_action92" />
                <action android:name="notification_action93" />
                <action android:name="notification_action94" />
                <action android:name="notification_action95" />
                <action android:name="notification_action96" />
                <action android:name="notification_action97" />
                <action android:name="notification_action98" />
                <action android:name="notification_action99" />
            </intent-filter>
        </receiver>
    </application>
</manifest>